spring:
  application:
    name: rule-engine-service

  kafka:
    bootstrap-servers: 37.233.82.76:9092

    consumer:
      # Consumer Group
      group-id: rule-engine-consumer-group

      # Serializers/Deserializers
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer

      # Offset Management
      auto-offset-reset: earliest  # earliest | latest | none
      enable-auto-commit: false    # Manual commit for reliability
      auto-commit-interval: 5000   # commit every 5 секунд

      # Fetch Settings
      fetch-min-size: 1            # min byte for fetch
      fetch-max-wait: 500          # max 500ms for fetch
      max-poll-records: 100

      # Session Management
      max-poll-interval-ms: 300000 # 5 min for batch processing
      session-timeout-ms: 30000    # 30 secs session timeout
      heartbeat-interval-ms: 3000  # 3 secs heartbeat

      properties:
        # Isolation Level (для transactional producers)
        isolation.level: read_committed

        # Partition Assignment Strategy
        partition.assignment.strategy: org.apache.kafka.clients.consumer.RangeAssignor

        # Connection Settings
        connections.max.idle.ms: 540000
        request.timeout.ms: 30000

        # Retry Settings
        retry.backoff.ms: 100
        reconnect.backoff.ms: 50
        reconnect.backoff.max.ms: 1000

    listener:
      ack-mode: manual
      type: single
      concurrency: 3
      poll-timeout: 3000

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  file:
    path: src/main/resources/log