spring:
  application:
    name: device-edge-service
  main:
    web-application-type: none
    keep-alive: true
  kafka:
    bootstrap-servers: 37.233.82.76:9092

    producer:
      bootstrap-servers: 37.233.82.76:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer
      properties:
        # Reliability
        acks: all # waiting confirmation from all replicas
        retries: 5
        enable.idempotence: true  # idempotence - excluding duplicates

        # Performance
        batch.size: 16384            # batch size
        linger.ms: 10                # 10ms wait for batch accumulation
        compression.type: snappy     # compression type
        buffer.memory: 33554432      # 32MB buffer

        # Timeouts
        request.timeout.ms: 30000
        delivery.timeout.ms: 60000

    consumer:
      group-id: sharedGroup
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.apache.kafka.common.serialization.ByteArrayDeserializer
        spring.json.trusted.packages: "org.iot_platform.model"

    topics:
      motion-sensor: "motion-events"
      temperature-humidity: "climate-events"
      water-leak: "leak-events"
      energy-meter: "energy-events"
      water-meter: "water-events"
      air-quality: "air-quality-events"


logging:
  file:
    path: src/main/resources/log
#  level:
#    org.apache.kafka: DEBUG  # Временно для диагностики
#    org.springframework.kafka: DEBUG

#  level:
#    com: trace
#    org: trace