spring:
  application:
    name: device-edge-service
  kafka:
    consumer:
      group-id: sharedGroup
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.apache.kafka.common.serialization.ByteArrayDeserializer
        spring.json.trusted.packages: "org.iot_platform.model"

    bootstrap-servers: 37.233.82.76:9092
    producer:
      bootstrap-servers: 37.233.82.76:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.ByteArraySerializer
      properties:
        # Reliability
        acks: all # waiting confirmation from all replicas
        retries: 5
        enable.idempotence: true  # idempotence - excluding duplicates

        # Performance
        batch.size: 16384            # batch size
        linger.ms: 10                # 10ms wait for batch accumulation
        compression.type: snappy     # compression type
        buffer.memory: 33554432      # 32MB buffer

        # Timeouts
        request.timeout.ms: 30000
        delivery.timeout.ms: 60000

    topics:
      motion-sensor: "motion-events"
      temperature-humidity: "climate-events"
      water-leak: "leak-events"
      energy-meter: "energy-events"
      water-meter: "water-events"
      air-quality: "air-quality-events"


logging:
  file:
    path: src/main/resources/log
  level:
    com: trace
    org: trace